.rc-range[axis=horizontal] {
	background-color: aliceblue;
	height: 24px;
	padding-right: 24px;
	margin-left: 25%;
	width: 50%;
}

.rc-range-track {
	height: 100%;
	width: 100%;
}

.rc-range-thumb {
	background-color: olivedrab;
	height: 24px;
	width: 24px;
	position: relative;
}

.rc-range[axis=vertical] {
	background-color: orangered;
	padding-bottom: 24px;
	height: 100px;
	width: 24px;
}