.rc-range[axis=horizontal] {
	background-color: aliceblue;
	height: 24px;
	padding-right: 24px;
	margin-left: 25%;
	width: 50%;
}

.rc-range-track {
	height: 100%;
	width: 100%;
}

.rc-range-thumb {
	background-color: olivedrab;
	height: 24px;
	width: 24px;
	position: relative;
}

.rc-range[axis=vertical] {
	background-color: orangered;
	padding-bottom: 24px;
	height: 100px;
	width: 24px;
}

.rc-drag-item {
	width: 100px;
	height: 100px;
	background-color: #61dafb;
	display: 'flex';
	align-items: center;
	justify-content: center;
	cursor: grab;
}

.rc-drop-slot {
	width: 300px;
  height: 300px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
	justify-content: center;
	background-color: #fff,
}

.rc-drop-slot-accept {
	background-color: #f0f0f0;
	border: 2px dashed #000;

}
