#root {position:relative;}

.rc-range[axis=horizontal] {
	background-color: aliceblue;
	height: 24px;
	padding-right: 24px;
	margin-left: 25%;
	width: 50%;
}

.rc-range-track {
	height: 100%;
	width: 100%;
}

.rc-range-thumb {
	background-color: olivedrab;
	height: 24px;
	width: 24px;
	position: relative;
}

.rc-range[axis=vertical] {
	background-color: orangered;
	padding-bottom: 24px;
	height: 100px;
	width: 24px;
}

.rc-area {
	display: flex;
	flex-direction: row;
	position: relative;
	overflow: hidden;
	padding: 100px;
}

.rc-drag {
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100px;
	width: 100px;
	background-color: #61dafb;
	cursor: grab;
	z-index: 999;
}

.rc-drop-space > .rc-drag {position: relative;}
.rc-drop-space {
	flex-wrap: wrap;
}
.rc-drop {
	width: 300px;
  height: 300px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
	justify-content: center;
	position: relative;
	background-color: #fff;
}

.rc-drop-accept {
	background-color: #f0f0f0;
	border: 2px dashed #000;
}
	
.rc-drop-cursor {
	background-color: gold;
}